[2014-05-23 18:47] codegangsta opened #1 "Run should support `http.Handler`"
Instead of taking just a `*negroni.Negroni` you should support generic `http.Handler` servers. :)

https://github.com/stretchr/graceful/blob/master/graceful.go#L35

[2014-05-23 18:51] #1 closed, assigned to nobody

[2014-05-23 20:20] tylerstillwater opened #2 "Close Listener instead of 503"
We should close the listening socket, refusing all further requests to the server. This will allow another server to spin up and listen on that same port while the in-flight requests on the first instance finish processing.

[2014-05-23 21:10] tylerstillwater opened #3 "Add more comprehensive tests"

[2014-05-23 21:11] tylerstillwater opened #4 "Allow 0 timeout"
0 timeout would never time out, allowing all active requests to complete.

[2014-05-23 21:24] tylerstillwater opened #5 "Fix race condition"
The os.Signal channel is global. This causes a race condition when multiple servers are run at the same time.

[2014-05-23 21:25] tylerstillwater opened #6 "Will all running servers receive SIGINT?"
Let's say we start three servers on different ports. Will they all get the SIGINT? Or will only the most recently started one get it?

[2014-05-23 21:25] #2 closed, assigned to nobody

[2014-05-23 21:25] #3 closed, assigned to nobody

[2014-05-23 21:25] #4 closed, assigned to nobody

[2014-05-23 21:25] #5 closed, assigned to nobody

[2014-05-23 21:32] tylerstillwater opened #7 "If no requests are served, server hangs on ctrl+c"

[2014-05-23 21:37] #6 closed, assigned to nobody

[2014-05-23 21:37] #7 closed, assigned to nobody

[2014-05-24 22:53] matryer opened #9 "Update docs to reflect that it works with http.Handler too"
Update docs to reflect that it works with http.Handler too

[2014-05-26 16:48] #9 closed, assigned to nobody

[2014-05-29 00:16] mb0 opened #10 "early exit on timeout == 0"
The readme says "If the timeout argument to Run is 0, the server never times out" but it actually exits even earlier. as soon as the active channel is not ready to receive from the default select case is chosen and simple returns from the function.

https://github.com/stretchr/graceful/blob/245127cc6e691693f813804de1fdebc67ff6044f/graceful.go#L101

[2014-05-29 00:17] mb0 opened #11 "data race on connections map"
there is concurrent write and read access possible on timeout condition.

please run go test -race to reproduce

[2014-05-29 00:28] mb0 opened #12 "go routine and memory leak"
every time a http connection opens or closes a new count is sent inside a go routine to the active channel. that means for every connection in the lifetime of the server these go routine stacks (n_2_8 kb) are soon enough to kill the server doing exactly the opposite of what is advertised:

to better  understand
1. connection events are sent to the unbuffered add and remove channels https://github.

[2014-05-29 00:33] #10 closed, assigned to nobody

[2014-05-29 02:27] #12 closed, assigned to nobody

[2014-05-29 02:28] #11 closed, assigned to nobody

[2014-05-29 06:28] thezelus opened #15 ""go get" throwing an error"
I am getting following error when I try to get this package using go get

go get github.com/stretchr/graceful
# github.com/stretchr/graceful
../github.com/stretchr/graceful/graceful.go:38: server.ConnState undefined (type *http.Server has no field or method ConnState)
../github.com/stretchr/graceful/graceful.go:38: undefined: http.ConnState
../github.com/stretchr/graceful/graceful.go:40: undefined

[2014-05-29 06:54] #15 closed, assigned to nobody

[2014-05-29 14:34] tylerstillwater opened #16 "Should we use gopkg.in for releases?"
I'd like to discuss solidifying v1 API and releasing it using [gopkg.in](http://labix.org/gopkg.in). This would require us to be backward compatible through major releases. I want to get much better about proper releases and compatibility through versions. gopkg.in facilitates that, as well as making consistent, reproducible builds possible.

@mb0 any thoughts on this?

[2014-05-29 14:41] tylerstillwater opened #17 "Ensure 100% test coverage"
The codebase is so small that it should be possible to ensure 100% test coverage. Currently it is at 93.5%, but that is prior to the incoming PR #14.

[2014-05-29 14:42] tylerstillwater opened #18 "Alter README to reflect new API"
@mb0, please ensure the README is updated to reflect the changes in #14

[2014-05-30 14:27] #16 closed, assigned to nobody

[2014-05-30 14:27] #17 closed, assigned to nobody

[2014-05-30 14:29] #18 closed, assigned to nobody

[2014-06-30 00:20] mmcgrana opened #20 "Handle SIGTERM as well?"
A `SIGTERM` is, along with `SIGINT`, a fairly standard way to signal
to processes that they should gracefully shut down:
- http://en.wikipedia.org/wiki/Unix_signal#SIGTERM
- http://en.wikipedia.org/wiki/Unix_signal#SIGINT

`SIGTERM` is often used in programatic cases (e.g. by Upstart and
Heroku to signal graceful shutdown) and `SIGINT` in interactive cases
(e.g. CTR-C in a terminal to stop a proce

[2014-06-30 01:09] #20 closed, assigned to nobody

[2014-08-11 20:18] tylerstillwater opened #24 "Should be able to stop server by calling a function"
A `Stop()` function should be provided to stop the server without needing an os.Signal.

[2014-08-18 15:44] #24 closed, assigned to nobody

[2014-08-29 03:20] cooperlees opened #29 "FD Leak under Load"
Hi,
Having trouble finding a bug that's causing a File Descriptor leak with a bittorrent tracker based on graceful:
https://github.com/chihaya/chihaya/blob/develop/http/http.go#L113
(I'm working in the develop branch)

I can't pin-point whats causing it but something is causing the daemon to at random intervals keep eating FD's until it hits a system limit, then fails health checks, thus getting r

[2014-09-03 14:29] #29 closed, assigned to nobody

[2014-11-06 23:34] jzelinskie opened #31 "New import paths in Go 1.4"
As per https://groups.google.com/forum/#!topic/golang-announce/eD8dh3T9yyA

Your dependency on code.google.com/p/go.net/netutil is moving to golang.org/x/net/netutil.

[2014-11-25 01:30] taywrobel opened #33 "ListenAndServeTLS does not have a signature that operates on a server struct"
Already opened a pull request for this, my apologies, I didn't see the contribution instructions.

In the project I am working on, I was using a helper function to create and configure a server object, which was then used in calling the listen and serve functions, similar to the example in the documentation:

[code]

This issue I encountered is that there was no matching signature for ListenAndSer

[2014-11-25 02:25] #33 closed, assigned to nobody

[2014-12-04 18:34] #31 closed, assigned to nobody

[2015-02-17 23:18] sharkone opened #35 "README examples are not compilable out of the box"
Hi,
this is really a minor issue but the two examples in the README file cannot be copy/pasted and compiled out of the box.

An updated README can be found here: https://github.com/sharkone/graceful/commit/264135b7c2c488e74fd9ba0575bc4fce6bb279a5 and I can create a pull request if needed.

[2015-02-17 23:24] matryer commented on #35
Please do - and we’ll accept it :)

[2015-02-17 23:24] matryer commented on #35
We use `go imports` and usually miss issues like that one.  https://github.com/bradfitz/goimports

[2015-02-17 23:27] sharkone commented on #35
Here you go: https://github.com/stretchr/graceful/pull/36

[2015-02-20 04:57] pushrax commented on #35
Closed by #36

[2015-02-22 16:25] #35 closed

[2015-03-19 15:53] dcelasun opened #38 "Data race on graceful shutdown via SIGTERM"
I start the server with `ListenAndServe` as follows:

    server := &graceful.Server{
		Timeout: 10 * time.Second,
		Server: &http.Server{
			Addr:        fmt.Sprintf("%s:%d", s.ListenIp, s.ListenPort),
			ReadTimeout: time.Duration(5) * time.Second,
			Handler:     s,
		},
	}

    err := server.listenAndServe()

When I terminate the process with `SIGTERM` sent via `^C` I get the following race:

[2015-03-20 04:23] daniel-garcia opened #39 "can't customize signal handling"
The current implementation hard codes the signal handling that the graceful shutdown reacts to. In my use case, I want to be able to stop the server with and without signal handling. This is especially useful for tests.

[2015-03-20 04:24] daniel-garcia commented on #39
I wanted to open this issue before attempting to create a patch. Would you be open to having this type of behavior in your package?

[2015-03-23 02:39] tylerb commented on #39
Thanks for opening the issue to discuss. Does #37 address your issue?

[2015-03-23 02:40] tylerb commented on #38
Thanks for the report! I've got this cleaned up and will be pushing a fix momentarily.

[2015-03-23 02:40] #38 closed

[2015-03-23 02:51] daniel-garcia commented on #39
Yes #37 would do just fine.

[2015-03-23 02:51] #39 closed

[2015-04-03 09:02] isaldana opened #40 "Timing purpose"
It looks like in https://github.com/tylerb/graceful/blob/master/graceful.go#L175-L177, the beginning of the connection is timed, but that timing is later removed here https://github.com/tylerb/graceful/blob/master/graceful.go#L181-L183 and never used.  Any reason why that code is there?  It would be awesome to expose the connection timing to the `ConnState` handler here https://github.com/tylerb/g

[2015-04-03 15:12] tylerb commented on #40
That is actually debug code I added while working on some data race issues. I completely forgot to remove it.

I'd prefer not to change the signature of the connection state handler, as it conforms to the same signature as that in the http package. However, as you say, there could be some use in knowing how long a connection took.

However, this is probably a higher level concern. For example, I j

[2015-04-03 18:02] isaldana commented on #40
Cool, I was just wondering.  That works for me, thanks!

[2015-04-03 18:02] #40 closed

[2015-05-12 15:25] tsmith123 opened #45 "cannot use go get"
I'm running `go get gopkg.in/tylerb/graceful.v1` and encountering the following errors in the terminal:

[code]

Anything I'm doing wrong?

[2015-05-12 15:28] tylerb commented on #45
What does `go version` on the command line tell you?

[2015-05-12 15:35] tsmith123 commented on #45
version 1.2 - sorry my bad. I'll upgrade.

[2015-05-12 15:36] tylerb commented on #45
No worries. :)

[2015-05-12 15:36] #45 closed

[2015-05-12 17:12] tchap opened #46 "Waiting after SIGINT even though no connection is open"
Hi,

I am using graceful with Negroni:

[code]

It just serves `index.html` from the `public` folder.

Now, for some reason, when I send `SIGINT` to the server, it waits for 10 seconds even though there is no active connection. Is that the desired behaviour? I was thinking that it would just exit when there are no pending requests...

[code]

[2015-05-12 17:15] tylerb commented on #46
It is simply a case that has never been addressed. It makes sense to exit immediately if no connections are open, though.

[2015-05-12 17:16] tchap commented on #46
Ah, right :-)

[2015-05-12 17:18] tchap commented on #46
So, do you feel like implementing it or shall I try to dig into the code?

[2015-05-12 17:19] tylerb commented on #46
Interesting. This case is handled at https://github.com/tylerb/graceful/blob/master/graceful.go#L244. It should return immediately if no connections are present. Care to debug it?

[2015-05-12 17:23] tchap commented on #46
Don't really have time right now, but I will take a look let's say tomorrow.

[2015-05-12 17:31] tchap commented on #46
It's doing keepalive I guess.

[code]

[2015-05-12 17:33] tylerb commented on #46
That would do it. :)

[2015-05-12 17:33] #46 closed

[2015-05-12 17:34] tchap commented on #46
:facepalm: :-)

[2015-06-12 16:43] sasha-s opened #49 "Expose Server.Listen and Server.ListenTLS methods"
Sometimes I need to have access to underlying listener (say listening at ":0". In this case I want to print listener.Addr()).

[2015-06-12 17:18] sasha-s opened #50 "data race in Server.Stop (unprotected write to srv.Timeout)"
it is also accessed in Server.shutdown

[2015-06-16 15:04] tylerb commented on #50
How to reproduce?

[2015-06-16 15:06] tylerb commented on #49
In this case, it would be best to provide your own listening using either the `Serve` function or the `Serve` method on the `*Server` object.

[2015-06-16 20:46] sasha-s commented on #50
https://github.com/tylerb/graceful/pull/51 (test only. can send a fix separately)

[2015-06-16 20:54] sasha-s commented on #49
That's what I am doing now.
It is kinda ugly - I copied both graceful.ListenAndServeTLS
and graceful.ListenAndServe
(with
[code]
instead of
[code]
I would prefer to have
[code]

[2015-06-16 21:53] #49 closed

[2015-06-17 15:40] #50 closed

[2015-07-27 03:00] cloudfly opened #52 "panic when server.Stop()"
the `stopLock` and `chanLock` a private member. but it does not initialized any where.

when I call server.Stop(),  server.stopLock is still a empty value.

`srv.stopLock.Lock()` panic.

[2015-07-27 03:25] #52 closed

[2015-09-29 22:40] peter-edge opened #53 "BeforeShutdown callback?"
Would you be open to a BeforeShutdown callback? ie:

[code]

I can write a pull request in a few minutes, alternatively if you just added it too :)

This would allow some round-trip communication for servers that have a two-way connection.

[2015-09-29 22:52] tylerb commented on #53
Yeah this seems great. Submit a PR and I'll get it merged. Please write appropriate tests as well.

[2015-09-29 23:03] #53 closed

[2015-10-12 15:03] hlandau opened #55 "Pre-privilege dropping listening"
I have an application in which an HTTP server binds to privileged ports, then drops privileges and starts serving. In order to do this, I have to create my own net.Listener. This is rather cumbersome and doesn't take advantage of connection limiting.

Calling .ListenAndServe() before privilege dropping creates a race condition, a brief window of time where HTTP requests could be served by a non-pr

[2015-10-12 16:20] tylerb commented on #55
I may be misunderstanding the problem at hand, but can't you create your own listener, then pass it to https://godoc.org/github.com/tylerb/graceful#Server.Serve after you've dropped privileges?

[2015-10-12 16:43] hlandau commented on #55
Using netutil.LimitListener? Yes. Workarounds are possible, but I was wondering if you were interested in streamlining this use case.

[2015-10-12 16:47] tylerb commented on #55
I don't see it as a workaround. Those methods specifically exist to allow for extra/custom configuration for use cases such as these. I don't see how the approach you are proposing is easier or better than simply creating your own listener and passing it to `Serve`. Graceful doesn't have `LimitListener` support anyway, and I don't want to add it. Graceful is about gracefully shutting down.

[2015-10-12 17:06] hlandau commented on #55
Huh?

https://github.com/tylerb/graceful/blob/master/graceful.go#L115

[2015-10-12 17:10] tylerb commented on #55
Hah! I completely forgot that was in there. Hmm.

In that case, it would make sense to create a `Listen` function similar to `ListenTLS` that returned a listening listener you can then pass to `Serve`.

Does that sound like an appropriate solution to your problem?

I also noticed we're not using the LimitListener everywhere. That should probably be moved to the `Serve` method and wrap the listener

[2015-10-12 17:10] tylerb opened #56 "Move the LimitListener wrapping to Serve"
We support the `ListenLimit`, but it is only used in one method. Not all code paths use it. We should move it to `Serve` so it is always used.

[2015-10-12 17:58] hlandau commented on #55
This sounds like a good idea. This would make a .Listen() method equivalent to net.Listen, so a bit superfluous. net/http doesn't provide such a method. Since you made a new issue I'll close this.

[2015-10-12 17:58] #55 closed

[2015-10-12 18:06] #56 closed

[2015-10-12 18:07] tylerb commented on #56
@hlandau does this solve your use case?

[2015-10-12 20:29] hlandau commented on #56
Looks fine.

[2016-01-11 16:17] databus23 opened #57 ""use of closed network connection" error returned by Serve()"
I'm just trying this out and I noticed that `ListenAndServe` and `ListenAndServeTLS` always return an error for me when shutting down gracefully.
The error I'm seeing is:

[code]

Thats a bit unfortunate, normally an error returned by `ListenAndServe` indicates that there was a problem binding the listening socket.
Is this a known problem or is there something wrong with my setup? I'm on OSX, go 1

[2016-01-11 16:50] tylerb commented on #57
Yep I'm getting that also. Trying to track it down now.

[2016-01-11 17:42] #57 closed

[2016-01-11 19:27] databus23 commented on #57
Awesome! Thanks so much for attending to this in no-time. :thumbsup:

[2016-01-11 19:58] tylerb commented on #57
Sure thing! :)

On Mon, Jan 11, 2016 at 12:27 PM, Fabian Ruff <notifications@github.com>
wrote:

[2016-01-13 23:47] databus23 opened #58 "graceful not working for hijacked (websocket) connections"
I just discovered that unfortunately graceful does not work for my use case.
I want it to wait for long lived websocket connections. But those connections seem to be discounted as soon as they are `hijacked`. So they don't really count as active connections at all.
I'm not really familiar to the internal workings of the http servers connection handling but looking at the code and specifically at 3

[2016-01-14 16:41] tylerb commented on #58
Graceful explicitly does not handle websocket connections. Graceful immediately disregards any connection that gets hijacked because the hijacked connection no longer sends notifications on the `ConnState` callback, so graceful has no way of managing it.

[2016-01-14 16:41] #58 closed

[2016-01-29 23:30] MaikuMori opened #59 "Is log really needed?"
The code in question is [here](https://github.com/tylerb/graceful/blob/master/graceful.go#L86-L89).

[code]

Why doesn't `Run` just return an error and let the user of this library decide how to handle it?

It's not that big issue of course, but one of the reasons why I moved away from `facebookgo/grace` is because it also uses logger, just more often than `graceful`.

[2016-01-29 23:38] tylerb commented on #59
I'm certainly not opposed to this. If you'd like to submit a PR fixing it, I'll take a look. However, this will be a breaking change as the signature of the function will change. That is something to consider.

[2016-01-30 00:39] MaikuMori commented on #59
Yea, I was thinking about the backwards compatibility as well.

I could either patch the `Run` and brake it (in somewhat rare cases) or make a new function for example:

[code]

In the latter case the functionally could be merged back into `Run` whenever you decide to make the next major version.

What do you think?

[2016-02-01 17:37] tylerb commented on #59
That sounds great to me. If you'd like to PR with the appropriate code and tests, I'll take a look and merge. Thanks!

[2016-03-06 01:32] petercolberg opened #60 "TestNotifyClosed: bind: address already in use"
The test suite frequently fails using v1.2.4 with Go 1.6 on Linux x86_64 with the following output:
[code]

[2016-03-06 01:34] petercolberg opened #61 "TestGracefulRun: No response when a response was expected"
The test suite sporadically fails using v1.2.4 with Go 1.6 on Linux x86_64 with the following output:
[code]

[2016-03-07 23:22] petercolberg commented on #60
Another failure using the same test environment:
[code]

This looks like a race condition. Do you think it’s in the tests or the package itself?

[2016-03-07 23:23] tylerb commented on #60
Sorry. Haven't had a chance to look in to this. This is probably a race condition or a problem with the tests themselves. I'd love if you could diagnose it as I can't reproduce it locally.

[2016-03-07 23:28] petercolberg commented on #60
Could you provide a quick pointer how to best diagnose the race conditions?

I stumbled upon the issues while trying to package graceful for Debian as a dependency of [acmetool](https://github.com/hlandau/acmetool).

[2016-03-07 23:33] tylerb commented on #60
I think the problem may be that the server shuts down before the queries start running. I'd change https://github.com/tylerb/graceful/blob/master/graceful_test.go#L178 to `500 * time.Millisecond` and see if the problem goes away.

[2016-03-09 21:19] petercolberg commented on #60
Can you reproduce the timeouts when repeatedly testing with Go 1.6 on Linux?
[code]

[2016-03-10 07:05] #60 closed

[2016-03-10 07:08] #61 closed

[2016-05-24 04:01] F21 opened #66 "Doesn't serve http/2"
I have a simple https webserver like so:

[code]

If I build it and run in and then access it via Chrome, I can see that it uses http/2 (h2) from the dev tools.

If I add graceful into the mix, it only uses http/1.1:

[code]

[2016-05-24 06:59] F21 opened #67 "Using https and setting timeout to 0 does not shutdown the server when there are no more requests"
I am using the following code:

[code]

I am using go 1.6 and Chrome 50 (latest) on Windows 10 64-bit.

Here are the steps to reproduce:
1. Create the self signed certificates and build.
2. Start the server.
3. Access it from Chrome or another browser: `https://localhost`.
4. Shutdown the server (ctrl-c).
5. See that the sever never exits.

Non-http servers seem to correctly exit after sometime if

[2016-05-24 07:06] F21 commented on #66
It looks like the native go library needs the `tlsConfig` set:

[code]

- It seems redundant to have to pass `tlsConf` to both the `net/http Server` struct and `ListenAndServeTLSConfig` function.

Since the net/http needs `TLSConfig` set to enable `http/2`, `ListenAndServeTLS` `server.ListenAndServeTLS`, `server.ListenAndServeTLSConfig` and `server.ListenTLS` doesn't have anyway to signal this to

[2016-05-24 11:14] F21 commented on #67
After some investigation, the process only never exits if the connection is http2.

I spawned a graceful server where `net/http` forces itself into `http/1.1`:

[code]

I start the server, visit `https://localhost:3001` in my browser, and then terminated the server. Since the timeout is `0`, I am assuming it is waiting for the keep-alive to timeout. After about 6 minutes, the  server was shutdown

[2016-05-25 17:18] tylerb commented on #66
Great find! I've not investigated http2 at all, so this is excellent. Thanks for this.

Do you have a proposed solution? I am absolutely buried right now and don't have a spare moment to work on this.

[2016-05-25 17:20] tylerb commented on #67
That's very interesting. Graceful disables keepalives as soon as the cancel signal is sent, which should close all sessions in a keepalive state. There's not really anything else that can be done from within graceful, to my knowledge.

Any further thoughts on this?

[2016-05-25 22:48] F21 commented on #67
I don't know enough about http/2 yet (lots more investigation to do!) to workout why the connections are being held open forever.

However, it may be possible to copy `tcpKeepAliveListener` from the http server package: https://golang.org/src/net/http/server.go#L2418

The stock http server wraps all connections in it: https://golang.org/src/net/http/server.go#L2098

[2016-05-25 23:02] F21 commented on #66
I think we need to see if we can delegate to Go's `ListenAndServeTLS`: https://golang.org/src/net/http/server.go#L2245

This is because it makes a call to `setupHTTP2()`: https://golang.org/src/net/http/server.go#2253

Unfortunately, `setupHTTP2()` is  not exported, so there's no way to call it directly from graceful.

[2016-05-26 02:43] F21 commented on #67
A bit more investigation. I did some graceful http server experiments using http/2 and http/1.1 and TCPView.

When the server and client talks over http/2, a TCP connection is established between the server and client. In this case, the connection is never terminated even though the tab is closed (I waited for around 15 minutes).

When the server and client talks over http/1.1, the TCP connection

[2016-05-26 02:47] tylerb commented on #67
Thanks for your research on this. It would seem the way to protect against clients that leave connections open would be to set a reasonable timeout on forcibly killing connections. I doubt any single request is going to take 6 minutes. :-)

What do you think?

On May 25, 2016, 8:43 PM -0600, wrote:

[2016-05-26 02:59] F21 commented on #67
I think that's probably a good guide line. Initially, I was interested in setting the timeout to 0 because I wanted to use it to build a service to accept file uploads from users. If I were to deploy new versions of the service, all existing uploads would be terminated and the clients would have to restart. However, if there was some way where I could wait for uploads on the service to finish (new

[2016-05-26 14:25] newhook opened #68 "depends on go 1.5+?"
I'm using go 1.4 and graceful no longer works.

[code]

[2016-05-26 15:00] tylerb commented on #68
Hey @newhook!

I'm not sure what's going on with your build, but I think it may be unrelated to graceful. If you check out https://travis-ci.org/tylerb/graceful you'll see that it successfully built and ran tests on targets from 1.3.3 to 1.6.2, though tip seems to be having some issues.

[2016-05-26 15:08] newhook commented on #68
I'm pretty sure its because go get on graceful fetches golang.org/x/net for netutil (and then transitively x/net/http2 due to the listen_test.go in netutil) and x/net/http2 no longer supports go 1.4.

graceful itself doesn't use that stuff, but the transitive get causes issues.

[2016-05-26 16:47] tylerb commented on #68
Well, rats. It is interesting that it seems to work fine on travis, which is doing a `go get` as well. Not sure what's up with that.

I'm not sure what the correct approach here is. Vendoring graceful and an older version of http2/netutil to make it work on 1.4 would be about the only thing I can think of to fix it for you. Any thoughts on this?

[2016-05-26 16:58] newhook commented on #68
I didn't look at the impl but avoiding the use of netutil would the simplest solution :)

[2016-05-26 16:59] tylerb commented on #68
I'll take a look at it and see if that's doable. Thanks Matthew!

On Thu, May 26, 2016 at 10:58 AM, Matthew Newhook <notifications@github.com>
wrote:

[2016-05-30 21:21] tylerb commented on #67
Exactly. You can try to be clever, but AFAIK it just won't work. You have
to choose a reasonable timeout value and stick with it. Maybe do a bit of
math and see what the average/maximum upload time is going to be and set it
to that?

On Wed, May 25, 2016 at 8:59 PM, Francis Chuang <notifications@github.com>
wrote:

[2016-05-30 21:22] tylerb commented on #66
How would you like to take the lead on this? I am swamped and not in a
position to really work on this right now.

On Wed, May 25, 2016 at 5:02 PM, Francis Chuang <notifications@github.com>
wrote:

[2016-05-30 22:29] F21 commented on #67
Yep. What do you think about adding more documentation to the README to recommend against setting the timeout to 0? I am happy to send a PR :smile:

[2016-05-30 22:35] F21 commented on #66
Sure! I will work on a PR today or over the next few days :smile:

[2016-05-30 22:35] tylerb commented on #67
That sounds good to me, especially with the information you've discovered.
It would be best for users to understand what they are getting themselves
into if they choose a 0 timeout.

On Mon, May 30, 2016 at 4:29 PM, Francis Chuang <notifications@github.com>
wrote:

[2016-05-30 22:36] tylerb commented on #66
Wonderful! Thank you!

On Mon, May 30, 2016 at 4:35 PM, Francis Chuang <notifications@github.com>
wrote:

[2016-05-31 05:24] #67 closed

[2016-06-03 16:32] #66 closed

[2016-06-03 16:36] tylerb commented on #68
@F21 any thoughts here?

[2016-06-04 02:36] F21 commented on #68
I had a quick look at the files in `netutil` and they don't contain any references to `x/net/http2`.

@newhook Can you try again to see if it builds? If it still doesn't build, do you mind posting a repository to reproduce?

Thanks :smile:

[2016-06-04 02:47] newhook commented on #68
It was the tests.

[2016-06-04 02:58] newhook commented on #68
I just tried the latest and I'm not getting issues... not sure what changed. I'll try it in our repo again on Monday and make sure that has no issues.

[2016-06-04 04:08] F21 commented on #68
@newhook:

I just created a repo running a graceful http server in a Go 1.4.3 docker container and it appears to work correctly.

See: https://github.com/F21/graceful-go1.4

You might have other depenencies in your project that is pulling in `x/net/http2`.

[2016-06-06 05:46] jmhodges opened #72 "check for StateIdle?"
Looks like graceful doesn't track connections going to StateIdle and waits for them to completely timeout. This means servers with very long idle timeouts always have to wait for their connections to timeout or set a more aggressive timeout for the graceful shutdown. The more aggressive timeout is not quite what we want since that could shut down the server while there are requests still in flight

[2016-06-06 06:10] F21 commented on #72
I think this would be pretty nice. Are you able to work on a PR?

[2016-06-06 15:25] jmhodges commented on #72
Nah, but someone could take a look at github.com/facebookgo/httpdown and work it out from there.

[2016-06-06 15:29] tylerb commented on #72
This should be a very simple fix. It looks like we are explicitly removing the idle connections from the pool of tracked connections.

[2016-06-06 15:31] tylerb commented on #72
Nope, it was removed completely for some reason. Whoops.

[2016-06-06 16:26] tylerb commented on #68
@newhook any update on this? I'd like to close it if possible.

[2016-06-06 16:32] tylerb commented on #72
Fixed in 7b1ea4990f7486251b24ebabc0487546ad924700

@F21 I think this fix addresses the same issue that you addressed in #70. Can you please test this again to see if my fix addresses your issue. If possible, I'd like to remove your fix in favor of this one if it solves that same issue. Thanks!

[2016-06-06 16:32] #72 closed

[2016-06-06 22:55] F21 commented on #72
@tylerb Awesome! Thanks for working on this. Your commit deals with idle connections preventing the server from shutting down, whereas #70 drops idle connections when the server is running normally (not shutting down) so that they do not consume resources and file descriptors indefinitely. See https://github.com/golang/go/commit/d6bce32a3607222075734bf4363ca3fea02ea1e5 and https://groups.google.co

[2016-06-06 23:48] tylerb commented on #72
Perfect. Thanks for the distinction. Looks like we are good to go!

Thanks for reporting this, Jeff!

On Jun 6, 2016, 4:55 PM -0600, Francis Chuang<notifications@github.com>, wrote:

[2016-06-13 05:47] F21 commented on #68
@newhook were you able to resolve this?

[2016-06-18 20:00] bangzek opened #74 "Feature Request: A More Flexible Logging"
It seem your package use/depend on the built-in log package.

While its reasonable, I propose a more flexible logging along the line of https://0value.com/about-Go-logging so the user of your package could use and choose another logging solution.

EDIT: The change is minimal, while it broke the ABI
[graceful-patch.txt](https://github.com/tylerb/graceful/files/321957/graceful-patch.txt)

TIA

[2016-06-19 22:38] F21 commented on #74
ping @tylerb

[2016-06-20 16:56] tylerb commented on #74
I'm a bit loathe to make this change, as it is a breaking change. It could be done in a non-breaking way by just adding the func alongside the current one and calling it if it exists instead of logging to the default logger. That, though, also seems awful.

I think I'll add the func alongside the builtin for now, but I think it's time for a rewrite of graceful. This was created years ago and it de

[2016-06-20 17:09] tylerb commented on #74
Fixed in 7e8415b880c4f556200f24f2c1c7b1f07ac0fa1d

[2016-06-20 17:09] #74 closed

[2016-06-20 17:10] tylerb commented on #68
Closing this issue as no response in two weeks

[2016-06-20 17:10] #68 closed

[2016-06-20 22:09] newhook commented on #68
Sorry, I didn't get a chance to retest. We're moving off go 1.4 completely soon anyway :)

[2016-06-29 04:21] F21 opened #78 "Building the next major version of graceful"
@tylerb mentioned that it is probably a good time to build the next version of graceful with all the lessons learnt while maintaining the library and using it in production. This might be a complete rewrite, or we could refactor it to the next version. We are now interested in what the community would like to see in the next version as well as any feedback you may have.

For starters, these are wh

[2016-07-07 18:15] djui opened #79 "Using ListenLimit and TCPKeepAlive panics"
[code]

[code]

[2016-07-07 18:23] djui commented on #79
Problem is the type conversion at https://github.com/tylerb/graceful/blob/master/graceful.go#L242

Should `tcpKeepAliveListener` embed the `net.Listener` interface instead?

See https://github.com/coreos/etcd/pull/4174/files for an approach.

[2016-07-07 22:54] F21 commented on #79
@djui That sounds like a better way to do it! Do you mind opening a PR with the fix and a test case including the reproduction you've posted? :smiley:

[2016-07-08 09:10] djui commented on #79
@F21 Unfortunately I won't have time the following weeks given how long I think this will take me to implement correctly (and especially test). I'm also not sure about the license to just take ETCDs implementation...

[2016-07-08 10:01] F21 commented on #79
I think the license should be fine (etcd uses the Apache 2 License), but I am pretty swamped at the moment. Hopefully, someone else can open a PR soon! :smiley:

[2016-07-08 12:30] djui commented on #79
@F21 I gave it a quick shot, let me know what you think. Also regarding the license. I am not familiar with the license system to know if the license information needs to be kept, should have a file scope or global scope. So now we use the etcd authors' license (Apache v2) and "sort of" the Go authors' license (Apache v2), as the etcd authors have just overridden the original license.

[2016-07-08 12:31] djui commented on #79
While working on this I also discovered a few other quirks that I addressed, see #80, #82.

[2016-07-08 12:33] F21 commented on #79
@djui Thank you so much for working on those! I will have a look at those tomorrow unless @tylerb beats me to them. Regarding the license, I just noticed graceful uses MIT, but the code from etcd uses Apache 2. Apache 2 is pretty liberal, but let's see what @tylerb thinks.

[2016-07-08 15:35] tylerb commented on #79
My understanding is it is just fine as long as the apache header is at the top of the file, which it is, so I think we're good.

[2016-07-08 15:36] #79 closed

[2016-07-20 21:42] dankinder opened #83 "Closing previously idle connection early"
Hi, finding odd behavior here and think it's a bug. On Centos6, go version go1.6.2 linux/amd64. Sample program at bottom. Basically all this does is create the server with a handler that artificially takes 2s to process, with a graceful timeout of 5s.

Then it sends a synchronous request, reads the response (so no shutdown involved yet), then another in a goroutine and calls `Stop()`.

Expected be

[2016-07-22 08:57] mb0 commented on #83
i think it is correct. The doc for Server.Timeout says:

[2016-07-22 15:10] tylerb commented on #83
@F21 any thoughts here? I'm swamped and can't dig in to this right now.

[2016-07-22 15:47] dankinder commented on #83
@mb0 the second request being made in this example code is an outstanding request isn't it? We fire it off in a goroutine, give 100ms to ensure it is in-flight, then call `Stop()` on the server. Since the handler takes 2s to run and the timeout is 5s, I would expect the handler to finish and the program overall to end after about 2s.

[2016-07-22 15:55] tylerb commented on #83
@dankinder try changing https://github.com/tylerb/graceful/blob/master/graceful.go#L253 to `case http.StateNew, http.StateActive:` and see if that solves your issue.

[2016-07-22 17:46] mb0 commented on #83
@dankinder well waiting some time does not ensure the request was actually made. My guess is that the second request fires after the listener is closed. connection refused sure looks like it.

it was just my first guess after a glance in the early morning. have you tried with a dedicated waitgroup to rule that out?

[2016-07-22 18:01] dankinder commented on #83
@tylerb unfortunately adding `http.StateActive` didn't solve it. So much for my theory.

@mb0 unfortunately to be absolutely sure that the connection was established I would need to hook into the underlying RoundTripper, but I am pretty confident that isn't the issue... I just increased all the timeouts by 10x (which gives the request a full second to establish a connection) and it behaves the sam

[2016-07-22 18:01] mb0 commented on #83
@dankinder yes sorry i just checked and was wrong.

[2016-07-22 18:06] tylerb commented on #83
I don't have time right now to try and reproduce this (and may not even be able to on Mac), but at this point I would start putting prints in various key places to understand how things are flowing, such as where connections are added and removed in the connstate hook.

[2016-07-22 18:07] dankinder commented on #83
Working on a unit test that exacerbates this right now.

[2016-07-22 18:08] mb0 commented on #83
ok i found the solution. sorry for just dropping the diff here. i sadly have no time to setup a pull request
[code]

[2016-07-22 18:11] tylerb commented on #83
Ah! The new idleConnetions functionality! Nice find thank you!

[2016-07-22 18:16] tylerb commented on #83
Fixed in 9444dcac5b420f65fd5c880051dcb15f87459b81

Thanks @dankinder and @mb0!

[2016-07-22 18:16] #83 closed

[2016-07-22 18:19] dankinder commented on #83
Nice, thanks guys!

[2016-08-12 22:42] yanfali opened #85 "TLS doesn't support connection TCPKeepAlive Option"
This issue on etcd explains the issue.

https://github.com/coreos/etcd/pull/2185

[2016-08-12 22:44] yanfali commented on #85
To reproduce do something like this:
[code]

[2016-08-12 22:45] yanfali commented on #85
I can try and work up a PR if you're interested, but it seems relatively straightforward to fix.

[2016-08-13 05:26] F21 commented on #85
@yanfali Thanks for opening the issue! :smile: If you could open a PR, that would be really awesome too!

[2016-08-14 03:37] yanfali commented on #85
@F21 hope this works for the project.

[2016-08-15 06:12] F21 commented on #85
Closed via #86

[2016-08-15 06:12] #85 closed

[2016-08-15 06:55] yanfali commented on #85
@F21 Any timeline when this is going to be released to gopkg.in? I'm using vendoring so I can switch back github, but if you're going to push a release I can wait.  Thanks

[2016-08-15 07:10] F21 commented on #85
@yanfali Thanks for reminding me! I just pushed `v1.2.12`

[2016-08-15 07:10] yanfali commented on #85
Awesome! Thank you.

[2016-08-28 21:34] petercolberg opened #87 "http2_test.go:52: Expected HTTP/2 connection to server, but connection was using HTTP/1.1"
The test suite fails here using Go 1.7 on Debian unstable amd64:
[code]
[code]

[2016-08-29 01:00] #87 closed

[2016-09-09 18:57] hexadecy opened #89 "How to disable http2"
Since this commit 6dd9b0da0b0b909795cd8186efbe82447244f5a1 http2 is enabled by default with Go 1.7.1.
How can I disabled it, cause MS Edge have SCRIPT7002: XMLHttpRequest: Network Error 0x2eff.

[2016-09-09 19:04] mb0 commented on #89
Use ListenAndServeTLSConfig  and provide a simple tls.Config with Certificates set from tls.LoadX509KeyPair.

[2016-09-19 03:37] F21 commented on #89
@hexadecy Were you able to resolve this?

[2016-09-19 13:11] hexadecy commented on #89
Yes, I was able to put a flag to disable/enable http2.
I hope it's just an IE/Edge problem with a self-signed certificate.

[2016-09-19 22:15] F21 commented on #89
Cool! Let's close this then 😄

[2016-09-19 22:15] #89 closed

[2016-09-21 09:54] awalterschulze commented on #78
Might you consider allowing the addition of context which is now included in go1.7
I can catch the os signals myself and call the cancel function.

[code]

[2016-09-21 10:43] F21 commented on #78
@awalterschulze I think that's a great idea! Would you be interested in working on a PR?

[2016-10-09 19:58] pkieltyka opened #91 "Signaling a shutdown to goroutines"
Hey @tylerb I wrote https://github.com/pressly/valve/blob/master/_example/main.go recently to work with tylerb/graceful to signal the shutdown of the server to other goroutines and manage a waitgroup to wait for things to finish off. If you have a sec to check it out I'd appreciate it and if you have any feedback too. Cheers

[2016-10-09 20:00] pkieltyka commented on #78
btw, I wrote https://github.com/pressly/valve which is tried to design as an extension to context that provides a shutdown signal and a waitgroup to non-preemptable code blocks finish without just an arbitrary time period. Perhaps something like this could be included directly in a graceful shutdown package.

In addition to the list above, it would be nice to see a graceful package like this one,

[2016-10-28 10:13] WanliTian opened #92 "how to add net/http/pprof"

[2016-10-28 10:18] WanliTian commented on #92
i copy the net/http/pprof init code directly and fix it

[2016-10-28 10:18] #92 closed

[2016-10-31 00:27] F21 commented on #78
We may not have to build the next version of Graceful as net/http will probably come with graceful shutdown in Go 1.8: https://github.com/golang/go/issues/4674#issuecomment-257161323

[2016-10-31 02:12] tylerb commented on #78
Fantastic!

On Oct 30, 2016, 5:27 PM -0700, Francis Chuang <notifications@github.com>, wrote:

[2016-12-06 16:51] furdarius opened #95 "go vet notification: assignment copies lock value to *config: crypto/tls.Config contains sync.Once contains sync.Mutex"
`go vet` notify about problem:

`graceful.go:171: assignment copies lock value to *config: crypto/tls.Config contains sync.Once contains sync.Mutex`

[2017-01-03 16:08] awishformore opened #96 "Concurrent write/read on manual shutdown"
Hello there.

I'm getting a concurrent write/read when using the manual shutdown of the graceful server between:

L336: `srv.Timeout = timeout` in the `Stop()` function
L458: `srv.Timeout > 0` in the `shutdown()` function

I disabled signal handling on the graceful server, so it does seem a bit strange.

[2017-01-03 16:08] awishformore commented on #96
Already fixed by #93 ;)

[2017-01-03 16:08] #96 closed

[2017-01-10 06:26] shageeth opened #98 "Is there any possible way to change listening port without restarting go server"
I need to change my http listening port without restarting server .thanks in advance.

[2017-01-10 06:40] tylerb commented on #98
That's not in scope for graceful. Sorry!

[2017-01-10 06:40] #98 closed

[2017-01-13 15:56] dcelasun opened #99 "Support dynamic TLS certificates"
See [PR](https://github.com/tylerb/graceful/pull/100).

[2017-01-16 09:04] #99 closed

[2017-02-01 19:40] jacobbaskin opened #101 "Connections that were never activated should be considered idle"
By default, Chrome (for instance) opens two TCP connections to servers to speed up subsequent calls. If one of those connections is never used, it will prevent the server from shutting down until the connection gets closed from the client side or timed out on the server side. This means that orderly shutdowns when running servers for development take some time rather than being instantaneous.

Is

[2017-02-01 19:46] tylerb commented on #101
Makes sense. Please put together a PR.

On Feb 1, 2017, 12:40 PM -0700, Jacob Baskin <notifications@github.com>, wrote:

[2017-02-01 19:47] jacobbaskin commented on #101
I did notice that you mentioned this issue in the README ("If you set the timeout to 0, it waits for all connections to the server to disconnect before shutting down") but you do disconnect idle requests...which (barring Comet-style requests) should be sufficient to shut down most servers immediately even with timeout of 0.

[2017-02-01 19:58] #101 closed

[2017-02-28 01:31] mg03 opened #104 "Help with behavior of Stop()"
Hi
Firstly, this is an awesome package, i have used it almost everywhere im setting up api's.

I am using Stop() functionality in one of the api's, like so

Timeout = time.Duration(30)*time.Second
<seup of srv and other handlers/etc here>
srv.Stop(Timeout)

So my understanding is that there will be a wait of 30 seconds prior to closing the channel which will effectively close the listener.

But as

[2017-02-28 01:32] F21 commented on #104
If there are no active connections to the server, then it shuts down immediately. The behavior is to wait for a maximum of 30 seconds. If there are still connections after the 30-second timeout, the connections are forcefully terminated.

[2017-02-28 01:44] mg03 commented on #104
@F21 : hmmm thats strange

My test case was

So the server was serving on localhost:9091

The server has two routes /stat  and /failover

/stat just returns active and HTTP 200 ok

/failover shoots a message to a channel on the other end of the channel there is a goroutine which
runs srv.Stop(30)

Then on another window

while true; do curl -v localhost:9091/stat > /dev/null 2>&1; if [ $? -ne 0 ];

[2017-02-28 01:47] F21 commented on #104
When calling `while true; do curl -v localhost:9091/stat > /dev/null 2>&1; if [ $? -ne 0 ]; then break; fi; done`, is it possible that the call to `localhost:9091/failover`, happened between an active request? If that is the case, the server would shut down right away.

What was the error from CURL for  `while true; do curl -v localhost:9091/stat > /dev/null 2>&1; if [ $? -ne 0 ]; then break; fi;

[2017-02-28 02:02] mg03 commented on #104
This is the output from
while true; do curl -v localhost:9091/stat 2>&1; if [ $? -ne 0 ]; then break; fi; done when i fire of a /failover in another window
 Trying ::1...
* connect to ::1 port 9091 failed: Connection refused
*   Trying 127.0.0.1...
* connect to 127.0.0.1 port 9091 failed: Connection refused
* Failed to connect to localhost port 9091: Connection refused
* Closing connection 0
curl:

[2017-02-28 02:19] F21 commented on #104
That seems correct to me. Once the server is shut down, it should will not be able to accept any connections.

It is possible that this is happening:
1. Connection is opened to the server and completes (because the response body is very small and not much handling was required, it completes almost instantly).
2. Right after completion, the server shuts down.
3. Curl tries to open another connectio

[2017-02-28 02:27] mg03 commented on #104
Hi

yeah the connection was closing because the response body was too small....

so i tested with a simulated slow http using `https://github.com/marant/goloris` ... and i can say that for sure the server waited for 30 secs prior to shutting down ...

i should have tested better prior to opening ticket, sorry for inconvenience

thanx

ps: i dont know what is the process/accepted norm to close tick

[2017-02-28 02:29] F21 commented on #104
Glad you got it working! 😄

If you were able to resolve the issue, go ahead and close the issue 😄

[2017-02-28 02:30] mg03 commented on #104
Resolved, Closing , thank you :)

[2017-02-28 02:30] #104 closed, assigned to nobody

[2017-09-21 07:25] sumakumardey opened #105 "Zero downtime deployments"
current graceful implementation doesn't support feature like the graceful restart where we can load new code on restart can we implement something [https://grisha.org/blog/2014/06/03/graceful-restart-in-golang/](url) it would actually be helpful in the zero downtime deployments.

[2017-09-21 08:59] F21 commented on #105
@sumakumardey I think [facebook/grace](https://github.com/facebookgo/grace) should be pretty close to what you're looking for.

[2018-01-30 05:44] #105 closed, assigned to nobody

[2018-01-30 05:44] #95 closed

[2018-01-30 05:44] #91 closed

[2018-01-30 05:44] #78 closed

[2018-02-16 17:37] stapelberg opened #106 "Tests fail with Go 1.10"
[code]

I think the `test-fixtures/*` files need to be re-generated with a name that can be parsed.

Thanks!

[2018-02-16 21:56] stapelberg commented on #106
Or perhaps we should just switch to https://golang.org/pkg/net/http/httptest/#NewTLSServer instead?

[2018-04-03 14:45] jeffallen opened #109 "data race on srv.Server.ConnState = nil"
As seen in dedis/onet#359, there's a data race between the Go stdlib HTTP server and Graceful on shutdown.

It looks like http.Server.ConnState is only safe to be set before the server is started.

What if you removed the ConnState = nil? If it must not be called any more, then what about adding a bool to type Server called something like "ignoreConnStatus"?

[2018-05-28 17:10] pseidemann opened #110 "Go 1.8+ alternative"
Hi,
as written in the README, one might not need graceful when using Go 1.8+.
I created a package which implements easy shutdown handling for Go 1.8+, which I want to show:
https://github.com/pseidemann/finish

Let me know what you think about this as an alternative for newer Go programs.

[2019-07-03 10:31] carl-leopard opened #112 "use define logger"
In the package, it uses log in the standard package to print information, but i want to use my owner logger handler to print information.